
<form>
    <table>
        {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

        <div class="row mb-4">
            <br>
            <br>
            <br>
            <br>
            <br>
            <tr>
                <td>
                    <div class="col">
                        <div class="form-control" >
                            {{ form_errors(form.namecat)}}
                            {{ form_label(form.namecat,"Nom Catégorie :  ") }}
                            {{ form_widget(form.namecat) }}
                        </div>
                    </div>
                </td>
                <td>
                    <div class="col">
                        <div class="form-control" >
                            {{ form_errors(form.descatevent) }}
                            {{ form_label(form.descatevent,"Description : ") }}
                            {{ form_widget(form.descatevent) }}
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td><br></td>
                <td><br></td>
            </tr>
            <tr> <td><br></td>
                <td>
                    <input type="submit" name="time" class="btn btn-primary">
                </td>
            </tr>
        </div>
    </table>
    {{ form_end(form) }}
</form>