{% extends 'base.html.twig' %}

{% block title %}Categorieevent index{% endblock %}

{% block body %}
<div id="content" class="main-content">
    <h1> List des Catégorie</h1>
    <div class="layout-px-spacing">
        <div class="row layout-top-spacing">

            <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                <div class="widget widget-chart-one">
                    <div class="widget-heading">

                        <table class="table">
                            <thead>
                            <tr>
                                <th>Num °</th>
                                <th>Nom  </th>
                                <th>Description </th>
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for categorieevent in categorieevents %}
                                <tr>
                                    <td>{{ categorieevent.categoriee }}</td>
                                    <td>{{ categorieevent.namecat }}</td>
                                    <td>{{ categorieevent.descatevent }}</td>
                                    <td>
                                        <a href="{{ path('categorieevent_show', {'idCategoriee': categorieevent.categoriee}) }}">Afficher</a>
                                        <a href="{{ path('categorieevent_edit', {'idCategoriee': categorieevent.categoriee}) }}">Modifier</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <a href="{{ path('categorieevent_new') }}" class="btn btn-primary ml-3 mt-3">Ajouter Event</a>

                </div>


            </div>

        </div>
    </div>

    {% endblock %}
