
<form>
    <table>

        {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

    <div class="row mb-4">
        <br>  <br>
        <tr>
        <td>
            <div class="col">
                <br>  <br>
                <div class="form-control" >
                    {{ form_errors(form.nomEvent)}}
                    {{ form_label(form.nomEvent,"Nom ") }}
                    {{ form_widget(form.nomEvent) }}
                </div>
            </div>
        </td>
            <td>
                <div class="col">
                    <br>  <br>
                    <div class="form-control" >
                    {{ form_errors(form.descriptionEvent) }}
                    {{ form_label(form.descriptionEvent,"Description") }}
                    {{ form_widget(form.descriptionEvent)}}
                </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="col">  <br>  <br>
                    <div class="form-control" >
                        {{ form_errors(form.isactive) }}
                        {{ form_label(form.isactive,"Status") }}
                        {{ form_widget(form.isactive) }}
                    </div>
                 </div>
            </td>
            <td>
                <div class="col">  <br>  <br>
                    <div class="form-control" >
                        {{ form_errors(form.dateDebEvent) }}
                        {{ form_label(form.dateDebEvent,"Date Début") }}
                        {{ form_widget(form.dateDebEvent)}}
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="col">  <br>  <br>
                    <div class="form-control" >
                        <div>
                        {{ form_errors(form.dateFinEvent) }}
                        {{ form_label(form.dateFinEvent,"Date Fin") }}
                        {{ form_widget(form.dateFinEvent) }}
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="col">  <br>  <br>
                    <div class="form-control" >
                        {{ form_errors(form.categoriee) }}
                        {{ form_label(form.categoriee,"Num Catégorie") }}
                        {{ form_widget(form.categoriee) }}
                     </div>
                </div>
            </td>
        </tr>
    </div>
        <tr>
            <td><br></td>
            <td><br></td>
        </tr>
        <tr> <td><br></td>
            <td>
                <input type="submit" name="time" class="btn btn-primary">
            </td>
        </tr>
    </table>
    {{ form_end(form) }}
</form>
