{% extends 'Client.html.twig' %}
{% block content %}
<section>
    <article>
        <div class="container">
           <h1 style="text-align: center;color:#1A1C2D; " >List des Evénements</h1>
            <br>
            <div class="row">
                <div class="col-md-md5">
                    {% for E in Event %}
                    <div class="event-item" style=" margin: 150px">

                            <figure>
                                <table>
                                    <tr>
                                        <td>
                                <img src="{{ asset('img/events/1.png') }}" alt="//" style="width: 250px">
                                <figcaption>{{ E.getDateDebEvent() |date('d-m') }}</figcaption>
                                        </td><td>
                                <h2>{{ E.getNomEvent}} </h2>

                                {% if E.getIsactive()==0 %}
                                    <h3> Active </h3>

                                {% elseif E.getIsactive()==1 %}
                                    <h3> Desactiver </h3>
                                {% endif %}
                                            <p>{{ E.getDescriptionEvent() }}</p>
                                        </td>
                                    </tr>

                                </table>
                         </figure>
                        </div>
                        <a href="{{ path('ajouterParticipant')}}" class="btn btn-event"> Participer</a>
                        <a href="{{ path('commentairee_new')}}" class="btn btn-event"> Commenter</a>
                        <a href="{{ path('ajouterParticipant')}}" class="btn btn-event"> Reaction</a>



                {% endfor %}
            </div>
        </div>
        </div>
    </article>
</section>
{% endblock  %}
